* {
    margin: auto;
    padding: auto;
}

.sec_nav{
  background-color: #fff;
  width: 100%;
  height: 130px;
  display: flex;
}
  
.container{
  height: auto;
  width: 1200px;
}
.menu{
  display: grid;
  grid-template-columns: fit-content(200px) 2fr fit-content(200px);
  width: 100%;
  padding: 10px 0px;
}
.menu-list{
  width: 100%;
}
.menus{
    width: 100%;
max-width: 600px;
padding: 0;
}
.menu-list ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-list ul{
  font-size: 15px;
  font-family: Barlow;
  font-weight: bold;
}

.logo img{
  width: 100%;
  height: 90px;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons img{
  width: 100%;
  height: 30px;
  padding: 0px 10px;
}
section{
  width: 100%;
  height: auto;
}
.video_banner{
  width: 100%;
  height: 600px;
  background-color: #00377B;
}
.map{
    background-image: url("./img/map.jpg");
    width: 100%;
    height: auto;
  }
  .menu_title{
    font-family: Barlow;
    font-size: 25px;
    text-align: center;
    font-weight: 300 !important;
    color: #00377B;
  }