@font-face {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(./Fonts/Barlow-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(./Fonts/barlow-light.ttf) format('ttf');
}

@font-face {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(./Fonts/Barlow-Medium.otf) format('otf');
}

@font-face {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(./Fonts/Barlow-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url(./Fonts/Barlow-SemiBold.ttf) format('ttf');
}

* {
    margin: auto;
    padding: auto;
}
body{
  font-family: 'Barlow', sans-serif;
  position: relative;
}
.sec_nav{
  background-color: #fff;
  width: 100%;
  height: 130px;
  display: flex;
}
  
.container{
  height: auto;
  width: 1200px;
}
.menu{
  display: grid;
  grid-template-columns: fit-content(200px) 2fr fit-content(200px);
  width: 100%;
  padding: 10px 0px;
}
.menu-list{
  width: 100%;
}
.menus{
    width: 100%;
max-width: 600px;
padding: 0;
}
.menu-list ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-list ul{
  font-size: 15px;
  font-family: Barlow;
  font-weight: bold;
}

.logo img{
  width: 100%;
  height: 90px;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icons img{
  width: 100%;
  height: 30px;
  padding: 0px 10px;
}
section{
  width: 100%;
  height: auto;
}
.video_banner{
  width: 100%;
  height: 600px;
  background-color: #00377B;
  overflow: hidden;
        object-fit: fill;
}
.map{
    background-image: url("./img/map.jpg");
    width: 100%;
    height: auto;
}
.map_title{
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  color: #00377B;
  padding: 0px 0px 30px 0px;
  position: relative;
}
.map_title h2{
  font-weight: 300;
}
.map_title h2:after{
  content: "";
  position: absolute;
  width: 320px;
  height: 14px;
  background: url("./img/reality_line.png") no-repeat;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.map_content h3{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #E5B250;
  padding: 20px 0px;
}
.rea_para{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #000;
}
.carousel-frame {
  overflow: hidden;
  width: 90%;
  padding: 25px 10px;
}

.carousel-items {
  display: flex;
  transition: transform 0.3s ease;
}
.resi-items{
  display: flex;
  transition: transform 0.3s ease;
  width: 90%;
}
.resi-item{
  flex: 0 0 calc(100% / 3);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-right: 3%;
}
.carousel-item {
  flex: 0 0 calc(100% / 5);
  margin-right: 10px;
}

.carousel-item.active {
  opacity: 1; /* Set the opacity for visible slides */
}
#prevBtn,
#nextBtn {
  margin-top: 10px;
}

.box_size {
  width: 100%;
  height: 240px;
  border: 1px solid #939598;
  max-width: 170px;
  padding: 15px;
}
.carou_size{
  padding: 25px 0px;
}
.carou_box{
  position: relative;
  height: 100%;
  color:#000;
}
.carou_box img{
  bottom: 0;
position: absolute;
right: 0;
}
.award{
  margin-top: 20px;
}
.over{
  font-size: 15px;
  font-weight: 400;
}
.carou_box p span{
  font-weight: 700;
  font-size: 40px;
  color: #00377B;
}
.carou_box p{
  color: #000;
  font-weight: 400;
  font-size: 17px;
}
.car_display{
  width: 100%;
  position: relative;
}
#prevBtn{
  position: absolute;
  top:45%;
  left:0;
  transform: translate(-0%, 0);
}
#nextBtn{
  position: absolute;
  top:45%;
  right: 0;
  transform: translate(-0%, 0);
}
.read_btn{
  display: flex;
}
.read_btn .more_btn{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  background-color: #E5B250;
  width: 200px;
  height: 60px;
  display: flex;
 flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.read_btn a{
  text-decoration: none;
  color: #000;
}
.maps{
  padding: 60px 0px;
}
.slide_beg{
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 40px 0px;
}
.ban_sec img{
  width: 100%;
  height: auto;
max-height: 492px;
}
.text_sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.dream{
  font-size: 25px;
  font-weight: 700;
  color: #fff;
 }
.text_sec img{
  width: 100%;
  height: auto;
  max-width: 240px;
}
.poss{
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0px;
  color: #fff;
}
.poss span{
  font-size: 32px;
  color: #DAAF52;
}
.lux{
  border: 1px solid #DAAF52;
  color: #DAAF52;
  font-size: 27px;
  padding: 5px;
  font-weight: 700;
}
.mod{
  font-weight: 700;
  font-size: 26px;
  padding: 20px;
  color: #fff;
}
.feat_res{
  background: url('./img/bg-full.jpg') no-repeat;
  background-size: cover;
}
.slide_ban{
  background: url('./img/ongoing.jpg') no-repeat;
  background-size: cover;
}
.change_sec{
  padding: 40px 0px;
}
.btn_change{
  display: flex;
  flex-direction: row;  
  width: 350px;
}
.btn_change button{
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 4px;
}
.resi{
  background-color: #00377B;
  color: #fff;
  padding: 15px 22px;
}
.comm{
  background-color: #E5B250;
  color: #000;
  padding: 15px 22px;
}
.slider_sec h3{
  text-align: center;
  font-weight: 400;
  color: #00377B;
  font-size: 30px;
  padding: 20px 0px;
}



.property_status img{
  width: 100%;
}
.status_content{
  padding: 20px;
  position: relative;
}
.status_cont1{
  font-size: 14px;
  padding: 10px 0px;
  font-weight: 400
}
.status_init{
  position: absolute;
  top: 6%;
  right: 8%;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #E5B250;
  padding: 5px;
  border-radius: 4px;
}
.talk_bg{
  background: url('/img/back-1.jpg') no-repeat;
  background-size: cover;
  padding: 4.6%;
}
.talk_text{
  color: #fff;
}
.world{
  text-align: center;
  color: #E5B250;
  font-weight: 700;
  font-size: 50px;
  padding: 1%;
}
.talktext{
  text-align: center;
  font-weight: 500;
  font-size: 19px;
  color: #fff;
}
.cust_testi{
  text-align: center;
}
.cust_testi h2{
  color: #00377B;
  font-weight: 400;
  font-size: 31.3px;
}
.multi_test{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.testi1{
  padding: 10px;
}
.testi1 img{
  width: 100%;
}
.testi1 h3{
  font-weight: 400;
  color: #00377B;
  font-size: 22px;
}
.testi_con{
  padding: 5% 0px;
}
.testi{
  padding: 3%;
}

.multi_test{
  padding: 1% 0;
}

.news{
  background-color: #F1F2F2;
  padding: 40px 0px;
}
.new_title{
  text-align: center;
  line-height: 40px;
}
h2{
  color: #00377B;
  font-weight: 400;
  font-size: 31.3px;
}
.new_title p{
  font-weight: 500;
}

.new_multi{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.new_content{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0px 20px;
  padding: 10px;
background-color: #fff;
}
.new_img img{
  width: 100%;
}
.new_con{
  padding: 10px;
}
.new_con h3{
  font-weight: 400;
  color: #00377B;
  font-size: 22px;
}
.new_con p{
  font-weight: 500;
  font-size: 15px;
}
.btn_news{
  width: 50%;
  border: 1px solid #E5B250;
  margin-left:0;
  margin-top: 15%;
}
.new_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.btn_news a{
  text-decoration: none;
  color: #00377B;
}
.view_tbn{
  margin-top: 4%;
}
.con_sec{
  background: url('./img/contact_back.jpg') no-repeat;
  background-size: cover;
  padding: 40px;
}
.con_grd{
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  height: auto;
  padding: 30px 0px;
}
.names{
  display: flex;
  flex-direction: column;
  line-height: 30px;
  padding: 2% 0px;
}

.names label{
  width: 100%;
  font-weight: 400;
  font-size: 15px;
}
.names input{
  width: 270px;
  padding: 7px;
  background-color: #F1F2F2;
  color: #000;
  border-radius: 4px;
  border: 2px solid #939598;
}
.frm form{
 background-color: #FFFFFF;
  padding: 20px
}
.names textarea{
 width: 250px;
  padding: 7px;
  background-color: #F1F2F2;
  color: #000;
  border-radius: 4px;
  border: 2px solid #939598;
  width: 270px;
}
.names button{
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  background-color: #00377B;
  border: none;
  border-radius: 4px;
}
.con_frm{
  width: 100%;
}
.frm{
  width: 330px;
}
.con_add{
  display: flex;
flex-direction: column;
width: 100%;
}
.foo_logo{
  width: 100%;
}
.foo_add{
  width: 100%;
  color: white;
}
.foo_add p{
  padding: 10px 0px;
  font-weight: 400;
}
.con_add p span{
  font-size: 18px;
}
.con_add p{
  font-size: 14px;
}
.social_icon img{
  height: 35px;
}
.foo_logo img{
  height: 65px;
padding-bottom: 30px;
}
.social_icon{
  width: 100%;
padding: 80px 0px 0px 0px;
}
.foot_text{
  background-color: #002561;
  color: #fff;
  padding: 40px 0px;
}
.foot_multi{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
}
.foot{
  line-height: 25px;
  font-size: 14px;
  width: 100%;
}
.copywrite{
  background: #000;
  color: white;
  padding: 20px 0px;
  font-size: 14px;
}
.video_banner video{
  object-fit: cover;
  top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-position: top;
}
.mess_chat{
  position: fixed;
  bottom: 6%;
  right: 2%;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 calc(100% / 4);
  }
}

@media (max-width: 480px) {
  .carousel-item {
    flex: 0 0 calc(100% / 3);
  }
}